<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
{{!-- <div class="nav">
  <div class="navbar">
    <h3 class ="logo">NBA Players</h3>
    <ul>
				<li><a href="/">Home</a></li>
				<li><a href="/teams">Teams</a></li>
				<li><a href="/alphabetical">Alphabetical</a></li>
        <li><a href="/tallest">Tallest</a></li>
        <li><a href="/oldest">Oldest</a></li>
        <li><a href="/heaviest">Heaviest</a></li>
			
      </ul>
  </div>
</div> --}}
<div class="nav">
      <ul>
				<li><a href="/">Home</a></li>
				<li><a href="/teams">Teams</a></li>
				<li><a href="/alphabetical">Alphabetical</a></li>
        <li><a href="/tallest">Tallest</a></li>
        <li><a href="/oldest">Oldest</a></li>
        <li><a href="/heaviest">Heaviest</a></li>
        <li><a href="/about">About</a></li>
			
      </ul>
    </div>

<body>
  {{{body}}}
  <div id="messageInput">
  <script src="/socket.io/socket.io.js"></script>
  <script>
      var socket = io();
      $('#box').submit(function(){
          socket.emit('chat message', $('#m').val());
          $('#m').val('');
          return false;
      });
      socket.on('chat message', function(msg){
          $('#messages').append($('<li>').text(msg));
      });
  </script>
  </div>
</body>
</html>
