<h1>Group Members</h1>
<ul>
    <li>Pratyush Sahay</li>
    <li>Dovid Baum</li>
    <li>Kevin Rosales</li>
</ul>

<h1>About The Project</h1>
<p>This is a real time application NBA player database, equipped with a trash talk message board and full information and stats on all nba players. You can filter players by team, wight, height, and age. You can also add new players to the database.</p>