<h1 class="heading">Enter New Player</h1>
<article>
    <form method="POST" action="/addPlayer" enctype="multipart/form-data">
        <div class="input-field">
            <label>Name:</label>
            <input type="text" name="name" size="50" placeholder="Enter Player Name">
        </div>
         <div class="input-field">
            <label>Age:</label>
            <input type="text" name="age" size="50" placeholder="Enter Player Age">
        </div>
        <div class="input-field">
            <label>Teams:</label>
            <input type="text" name="teams" size="50" placeholder="Team1 Team2 Team3 (seperated by spaces)">
        </div>
        <div class="input-field">
            <label>Championships:</label>
            <input type="text" name="chmps" size="50" placeholder="Enter Number of Championships Won">
        </div>
        <div class="input-field">
            <label>Retired:</label>
            <input type="text" name="retired" size="50" placeholder="yes/no">
        </div>
        <div class="input-field">
            <label>Height:</label>
            <input type="text" name="height" size="50" placeholder="Enter Player Height(Feet'Inches)">
        </div>
        <div class="input-field">
            <label>Position:</label>
            <input type="text" name="position" size="50" placeholder="Enter Player Position">
        </div>
        <div class="input-field">
            <label>Weight:</label>
            <input type="text" name="weight" size="50" placeholder="Enter Player Weight">
        </div>
        <div class="input-field">
            <label>Image:</label>
            <input type="text" name="img" size="50" placeholder="Enter Image URL">
        </div>
        <div class="input-field">
            <label>Upload image:</label>
            <input type="file" name="image" alt="Submit">
        </div>
        <button type="submit">Submit</button>
    </form>
</article>
