<div class="container">
    {{#each data}}
    <div class="content" onclick="location.href='/api/getPlayer/{{this.name}}'">
        <div class="inner">
            <img src={{this.img}}  style= "border-radius:50%" "width=40%">
            <h2 class="name">{{this.name}}</h2>
        </div>
    </div>
    {{/each}}
</div> 