<h2>Find the players heavier than what weight?</h2>
<form method="POST" action="/heaviest">
    <input type="text" name="heaviest" placeholder="Enter Weight (lbs)"/>
    <button type="submit">Submit</button>
</form>