<h2>Find the players taller than what height?</h2>
<form method="POST" action="/tallest">
    <input type="text" name="feet" placeholder="Enter Feet"/>
    <input type="text" name="inches" placeholder="Enter Inches"/>
    <button type="submit">Submit</button>
</form>